<form action="/login" method="post">
    <input type="text" name="username" placeholder="usuario">
    <input type="password" name="password" placeholder="contraseña">
    <button type="submit">Login</button>
</form>